h1 {
  color: red;
  font-style: italic;
}
<<<<<<< HEAD

p {
  background: #ffff00;
}
h1#primo-h1, p {
  border-width: medium;
  border-color: black;
  border-style: solid;
}

.seconda-parte {
  font-family:sans-serif;
}
=======
>>>>>>> 41e11679f04eb3c822dec651c17e477872e0965c
